.teamListContainer {}

.panelHeader {
    border: 1px solid #009b8e;
}

.panelBody {
    border: 1px solid #abc4b9;
}

.list {
    list-style: none;
    width: 100%; 
    padding: 0px;
}

.list li {
    width: 47.5%;
    display: inline-block;
    margin: 1.25%;
    border: 1px solid #ddd;
    vertical-align: top;
    -webkit-box-sizing: border-box;
}